body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* search area */
.search-field {
  border: none;
  padding: 5px;
  outline: none;
  margin-bottom: 35px;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  width: 300px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
/* product area */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  border-radius: 10px;
  background-color: #ebfdfe;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: rgba(240, 248, 255, 0.774);
}
/* products image */
.products-image {
  width: 150px;
  height: 150px;
}
.product-image {
  width: 300px;
  height: 325px;
}
/* product detail */
#show-product{
  text-align: center;
  margin:10px auto 35px;
  width: 450px;
}
/* cart area */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
/* display products in column */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
